/*


     D A R K      T H E M E


*/
:root {
  --text-color: #222;
  --bkg-color: #eeeeee;
  --brdr-color: #222;
  --nav-color:#32e0c4;
  --navTxt-color:#222;
  --main-color: 22, 22, 22;
  --second-color: 180, 180, 180;
}
body.dark-theme {
  --text-color: #eee;
  --bkg-color: #232B32;
  --brdr-color: #f39121;
  --nav-color:#f39121;
  --navTxt-color:#222;
  --main-color: 238, 238, 238;
  --second-color: 124, 124, 124;
}
@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  :root {
    --text-color: #eee;
    --bkg-color: #232B32;
    --brdr-color: #f39121;
    --nav-color:#f39121;
    --navTxt-color:#222;
    --main-color: 238, 238, 238;
    --second-color: 124, 124, 124;
  }
  body.light-theme {
    --text-color: #222;
    --bkg-color: #eeeeee;
    --brdr-color: #222;
    --nav-color:#32e0c4;
    --navTxt-color:#222;
    --main-color: 22, 22, 22;
    --second-color: 180, 180, 180;
  } 
}
/*

        Y E E T 

*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root{
  -webkit-font-smoothing: antialiased;
  font-family: 'Input Mono', monospace;
}
.background {
  background:var(--bkg-color);
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  display: block;
  z-index: -1;
  image-rendering:pixelated;
}
body {
  margin: auto;
  padding: auto;
  min-width: 80%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  list-style-type: none;
  font-family: 'Input Mono', monospace;
  font-size: 16px;   
  text-align: justify;
  color:var(--text-color);
}
header {
  position: fixed;
  top:0px;
  z-index: 1;
  width: 100%;
  height: 180px;
  margin-top:25px;
  align-self: stretch;
  background-color: var(--nav-color);
  display: flex;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
  flex-flow: row;
  align-items: center;
}
nav {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 5px;
    flex-flow: row;
}
#navbar{
  transition: top .5s;
}
#navbar > nav > ul {
  display: flex;
  flex-flow: row-reverse;
  align-items: center;
}
#navbar > nav > ul > ul{
  display: flex;
  flex-flow: row-reverse;
}
#navbar > nav > ul > ul > li{
  margin-right: 15px;
  flex-flow: row-reverse;
  text-decoration: underline;
  list-style: none;
}
.logo {
  padding: 7.5px 10px 7.5px 0;
}
:link{
  font-size: 20px;
  color:black;
  font-family: 'Press Start 2P', cursive;
}
.Theme-BTN{
  width: 37px;
  height: 37px;
  background-color:rgba(var(--main-color),1);
  border-radius: 50%;
  margin: 15px; 
  transition: 0.5s;
  border-color: rgba(var(--second-color),1);
  -moz-box-shadow:     inset 0 0 5px rgba(var(--second-color),1);
   -webkit-box-shadow: inset 0 0 5px rgba(var(--second-color),1);
   box-shadow:         inset 0 0 5px rgba(var(--second-color),1);
}
.Theme-BTN:focus {
  outline:0;
}
h2, h3, h4, h5, h6, p {
  color:var(--text-color);
  margin:15px;
  text-align: justify;
  font-family: 'Input Mono', monospace;
}
h1 {
  margin: 0px;
  margin-left:25px;
  padding-left: 3px;
  font-size: 28px;
  color: var(--text-color);
  font-family: 'Press Start 2P', cursive;
}
.ShopIMG{
  max-width:360px;
  max-height:360px;
  border-radius: 420px;
  margin-left: 50px;
  margin-right: 25px;
  margin-top: -80px;
  align-self: center;
  border-style: solid;
  border-color: var(--brdr-color);
}
.SelfIMG{
  min-width:150px;
  max-height:150px;
  border-radius: 75px;
  border-style: solid;
  border-color: var(--brdr-color);
  image-rendering:pixelated;
  margin-right:25px;
  
}
.GameDemo{
  margin: 25px;
  min-width:320px;
  max-height:320px;
  image-rendering:pixelated;
  border-radius: 15px;
  border-style: solid;
  border-color: var(--brdr-color);
}
p {
  font-size: 20px;
  display: flex;
  color: var(--text-color);
  margin:25px;
  font-family: 'Input Mono', monospace;
}
main {
  position: relative;
  max-width: 1160px;
  margin-top: 250px;
  align-self: center;
  background-color:rgba(var(--main-color),.1);
  border-radius: 15px;
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.aboutMe{
  padding-top: 50px;
}
.aboutMe section{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: left;
}
.aboutMe article{
  display: flex;
  flex-direction: column;
}
.aboutMe article h1{
  margin-bottom:-45px;
  margin-left:188px;
  text-align: left;
}
.aboutMe article h4{
  display: flex;
  align-items: top;
}
.aboutMe article li{
  display: flex;
  margin-left: 50px;
  list-style: none;
  color:var(--text-color);
  font-family: 'Input Mono', monospace;
}
footer {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  bottom: 0px;
  width: 100%;
  align-self: center;
  image-rendering: pixelated;
  z-index: 1;
  text-align: center;
}
img.footer{
  bottom: 0px;
  width: 50%;
  align-self: center;
}
#copyright {
  color:var(--text-color);
  text-align: center;
  margin-bottom: 15px;
  align-self: center;
  padding-bottom: 15px;
  font-family: 'Press Start 2P', cursive;
}
#MessageModal {
  position: fixed;
  bottom: 75px;
  right: 50px;
  font-family: 'Press Start 2P', cursive;
  color:#222222;
}
#MessageModal p{
  font-family: 'Press Start 2P', cursive;
  font-size: 14px;
  color:black;
  margin: 0px;
}
#MessageMe h3{
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  color:black;
  margin-left: 0px;
} 
#MessageMe h4{
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  color:black;
  margin-left: 0px;
}
#MessageMe button{
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  color:#eeeeee;
  width: 150px;
  margin-top: 10%;
  margin-left: 54.5%;
}
.Game{
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.Game article p{
  text-align: left;
  justify-content: center;
  align-self: center;
}
#GameModal{
  position: relative;
  width: 128px;
  left: 120px;
  top: -148px;
  image-rendering: pixelated;
}
.description {
  margin-top: 145px;
  align-self: start;
  text-align: left;
}
.coin{
  margin: 5px;
  image-rendering: pixelated;
}
.icon{
  width: 54px;
  image-rendering: pixelated;
}
#about {
  padding: 0px;
}