/*                 N A V I G A T I O N                      */

.menuContainer {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 5px;
  }
  
  /* START OF THE THEME SLIDER */
  
  /* The switch - the box around the slider */
  .switch {
    top:73px;
    position: relative;
    display: flex;
    align-self: center;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #444444;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px  #444444;
    ;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  /* END OF THEME SLIDER */
  
  
  header nav {
    background-color: var(--nav-color);
    padding: 0px;
    width: 100%;
    max-width: 1330px;
    margin-left: 50px;
    margin-right: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  header a {
    color:  var(--navTxt-color);
    text-decoration: none;
  }
  
  .menu,
  .submenu {
    align-self: flex-end;
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-flow: row-reverse;
    justify-content: space-between;
  }
  
  .logo {
    padding: 7.5px 10px 7.5px 0;
  }
  
  .item {
    padding: 10px;
  }
  
  .menu {
    background-color: var(--nav-color);
    display: flex;
    align-self: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu li a {
    background-color: var(--nav-color);
    display: block;
    padding: 15px;
    border-color: #eeeeee;
  }
  
  .toggle {
    order: 1;
    font-size: 20px;
  }
  
  .item {
    order: 3;
    width: 100%;
    text-align: center;
    display: none;
  }
  
  .active .item {
    display: block;
  }
  
  
  /* Submenu up from mobile screens */
  .submenu {
    display: none;
  }
  
  .submenu-active .submenu {
    display: flex;
      flex-flow: row;
      position: absolute;
      border-top-style: solid;
      background-color: var(--nav-color);
  }
  
  .has-submenu > a::after {
    outline: none;
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;
    content: "\f078";
    color: black;
    padding-left: 5px;
  }
  
  .subitem a {
    padding: 10px 15px;
  }
  
  .submenu-active {
    outline: none;
    background-color:  var(--nav-color);
    border-radius: 3px;
  }
  
  a:link, a:visited {
    color: var(--navTxt-color);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
   opacity: 0.8;
   text-decoration: underline;
  }
  
  /*         N A V   B A R         */
  
  #navbar {
    position: fixed; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
  }
  
  /* Style the navbar links */
  #navbar a {
    text-decoration: none;
  }
  
  #navbar a:hover {
    color: black;
  }