
/* Tablet menu */
@media all and (max-width: 959px) {

    body {
      justify-content: center;
      align-items: center;
      min-width: 280px;
    }
    main {
      width: 90%;
    }
  
    section{
      display: flex;
    }
  
    #aboutMe{
      flex-direction: column-reverse;
    }
  
    .HeroIMG{
      max-width:280px;
      max-height:280px;
      border-radius: 420px;
      margin-left: 0px;
      align-self: center;
    }
  
  }