/*


     D A R K      T H E M E


*/
body {
  --text-color: #222;
  --bkg-color: #eeeeee;
  --brdr-color: #222;
  --nav-color:#32e0c4;
  --navTxt-color:#222;
}

body.dark-theme {
  --text-color: #eee;
  --bkg-color: #232B32;
  --brdr-color: #f39121;
  --nav-color:#f39121;
  --navTxt-color:#222;
}


@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body {
    --text-color: #eee;
    --bkg-color: #232B32;
    --brdr-color: #f39121;
    --nav-color:#f39121;
    --navTxt-color:#222;
  }
  
  body.light-theme {
    --text-color: #222;
    --bkg-color: #eeeeee;
    --brdr-color: #222;
    --nav-color:#32e0c4;
    --navTxt-color:#222;
  } 
}
/*

        Y E E T 

*/



* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  font-family: sans-serif;
  font-size: 16px;
  margin: auto;
  padding: auto;
  min-width: 80%;
  max-height: 100%;
  flex-flow: column ;
  align-items: flex-start;
  list-style-type: none;
  overflow: auto;
  background: var(--bkg-color);
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 180px;
  align-self: stretch;
  background-color: var(--nav-color);
  display: flex;
  justify-content: space-around;
}
h1, h2, h3, h4, h5, h6, p {
  color:var(--text-color);
}

main {
  position: relative;
  max-width: 1160px;
  margin-top: 250px;
  align-self: center;
}

h1 {
  margin: 0px;
  top: 0px;
  color: var(--text-color);
  font-family:  sans-serif;
}
  
.HeroIMG{
  max-width:360px;
  max-height:360px;
  border-radius: 420px;
  margin-left: 75px;
  border-style: solid;
  border-color:  var(--brdr-color);
}

p {
  line-height: 40px;
  font-family:Arial,Helvetica,sans-serif;
  font-size: 20px;
  display: flex;
  color: var(--text-color);
}

.aboutMe{
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 25px;
  text-overflow: clip;
  flex-wrap: wrap;
}

.aboutMe span {
  flex-direction: row;
}

.aboutMe p{
  text-align: justify;
  line-height:26px; 
  padding-top: 50px;
  font-size: 19px;
  margin-left: 25px;
  flex-direction: row;
}

.description{
  display: flex;
  align-self: center;
  justify-content: center;
}

.PlayButton{
  width: 136px;
  height: 48px;
  position: relative;
  top: 63px;
  left: -194px;
  cursor: pointer;
  image-rendering: pixelated;
}

section{
  display: flex;
}

.GameDemo {
  border-radius: 5px;
  width:250px;
}

.Game1{
flex-direction: row;
padding: 15px;
image-rendering: pixelated;
}

.Game1 article{
  padding: 15px;
}

footer {
  display: flex;
  flex-direction: column;
  bottom: 0px;
  width: 100%;
  align-self: center;
}

img.footer{
  bottom: 0px;
  width: 100%;
  align-self: center;
}

.MsgContainer{
  width:100%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-between;
}
.MsgContainer form{
  display: flex;
  flex-direction: column;
  align-self: center;
}
.MsgContainer form label.input-w{
  display: flex;
  justify-content: space-between;
}

textarea#message{
  width:200px;
  height:150px;  
  text-emphasis: none;
}

#submit{
color: var(--navTxt-color);
font-size: 20px;
background-color: var(--nav-color);
border-color: var(--text-color);
border-radius: 7px;
}

/*                 N A V I G A T I O N                      */

.menuContainer {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

/* START OF THE THEME SLIDER */

/* The switch - the box around the slider */
.switch {
  top:73px;
  position: relative;
  display: flex;
  align-self: center;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #444444;
}

input:focus + .slider {
  box-shadow: 0 0 1px  #444444;
  ;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* END OF THEME SLIDER */


header nav {
  background-color: var(--nav-color);
  padding: 0px;
  width: 100%;
  max-width: 1330px;
  margin-left: 50px;
  margin-right: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

header a {
  color:  var(--navTxt-color);
  text-decoration: none;
}

.menu,
.submenu {
  align-self: flex-end;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-flow: row-reverse;
  justify-content: space-between;
}

.logo {
  padding: 7.5px 10px 7.5px 0;
}

.item {
  padding: 10px;
}

.menu {
  background-color: var(--nav-color);
  display: flex;
  align-self: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.menu li a {
  background-color: var(--nav-color);
  display: block;
  padding: 15px;
  border-color: #eeeeee;
}

.toggle {
  order: 1;
  font-size: 20px;
}

.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}

.active .item {
  display: block;
}


/* Submenu up from mobile screens */
.submenu {
  display: none;
}

.submenu-active .submenu {
  display: flex;
    flex-flow: row;
    position: absolute;
    border-top-style: solid;
    background-color: var(--nav-color);
}

.has-submenu > a::after {
  outline: none;
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "\f078";
  color: black;
  padding-left: 5px;
}

.subitem a {
  padding: 10px 15px;
}

.submenu-active {
  outline: none;
  background-color:  var(--nav-color);
  border-radius: 3px;
}

a:link, a:visited {
  color: var(--navTxt-color);
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
 opacity: 0.8;
}

/*         N A V   B A R         */

#navbar {
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

/* Style the navbar links */
#navbar a {
  text-decoration: none;
}

#navbar a:hover {
  color: black;
}

/*           R E S I Z E       S E C T I O N             */

/* Tablet menu */
@media all and (max-width: 959px) {

  body {
    justify-content: center;
    align-items: center;
    min-width: 280px;
  }
  main {
    width: 90%;
  }

  header nav {
    margin:0px;
  }

  .menu {
    width: 100%;
   flex-direction: column;
    background-color: 32e0c4;
  }
  .logo {
      flex: 1;
      height: 150px;
  }
  .toggle {
      flex: 1;
      text-align: right;
      order: 2;
  }

  .menuContainer {
    width: 100%;
    background-color:  var(--nav-color);
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  }
  
  .switch {
    top:5px;
    position: relative;
    display: flex;
    align-self: center;
    width: 60px;
    height: 34px;
  }

  .submenu-active .submenu {
    display: block;
    width: 100%;
    flex-flow: row;
    position: inherit;
  }


/*                 E N D   O F   N A V I G A T I O N                 */

  section{
    display: flex;
  }

  #aboutMe{
    flex-direction: column-reverse;
  }

  .GameDemo {
    border-radius: 5px;
    width:250px;
  }

  .Game1{
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
    padding-top:15px;
    padding-bottom: 15px;
    align-items: center;
    
  }

  .Game1 article{
    padding-left: 0px;
    padding-right: 0px;
    padding-top:15px;
    padding-bottom: 15px;
    align-self: baseline;
  }

  .Game2{
    flex-direction: column;
    padding-left: 0px;
    padding-right: 0px;
    padding-top:15px;
    padding-bottom: 15px;
    align-items: center;
  }
  .Game2 article{
    padding-left: 0px;
    padding-right: 0px;
    padding-top:15px;
    padding-bottom: 15px;
    align-self: baseline;
  }

  .aboutMe{
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 25px;
    text-overflow: clip;
    flex-wrap: wrap;
  }

  .aboutMe p{
    text-align: justify;
    line-height:26px; 
    padding-top: 50px;
    font-size: 19px;
    flex-direction: row;
  }

  .description{
    display: flex;
    align-self: center;
    justify-content: center;
  }


  .HeroIMG{
    max-width:280px;
    max-height:280px;
    border-radius: 420px;
    margin-left: 0px;
    align-self: center;
  }

}
/*    E N D    O F    R E S I Z E    S E C T I O N     */



/*                T H E    M O D A L  /  G A M E     F R A M E    C O N T E N T                 */

/* The Modal (background) */
.modal {
  display: none;/* Hidden by default */
  position: fixed; /* Stay in place */
  top:0;
  left:0;
  z-index: 3; /* Sit on top */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  display: flex;
  max-width: 700px;
  align-self: center;
  position: absolute;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

canvas {
 height: inherit;
 width: inherit;
}