.page {
  margin: 30px;
  padding: 30px;
  background-color: rgba(0, 223, 253, 0.658);
  height: 1000px;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  min-width: 100%;
  background-color: whitesmoke;
}

h1 {
  color: whitesmoke;
  text-align: center;
  margin: auto;
  padding: 20px;
}
  
p {
  font-family: serif;
  font-size: 20px;
}

table, th, td {
  border: 1px solid whitesmoke;
}

footer {
  background-color: whitesmoke;
  color: black;
  position: fixed;
  bottom: 0;
  max-width: 100%;
  min-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: auto;
 
}

header {
  background-image: url("BGRD1.png");
  background-repeat: repeat;
  margin-left: auto;
  margin-right: auto;
  padding:  auto;
}
