/* Basic styling */

header nav {
  background-color: turquoise;
  padding: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

header a {
  color: black;
  text-decoration: none;
}

.menu,
.submenu {
  align-self: flex-end;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-flow: row-reverse;
  justify-content: space-between;
}

.logo {
  font-size: 100px;
  padding: 7.5px 10px 7.5px 0;
}

.item {
  padding: 10px;
}

.item.button {
  padding: 9px 5px;
}

.item:not(.button) a:hover,
.item a:hover::after {
  color: rgb(0, 0, 0);
}

.logo {
  font-size:80px;
  padding: 7.5px 10px 7.5px 0;
}

.menu {
  background-color: turquoise;
  display: flex;
  align-self: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.menu li a {
  background-color: turquoise;
  display: block;
  padding: 15px;
  border-color: lightblue;
}

.menu li.subitem a {
  background-color: turquoise;
  padding: 15px;
}

.toggle {
  order: 1;
  font-size: 20px;
}

.item.button {
  order: 2;
}

.item :hover{
  background-color: cadetblue;
  border-radius: 5px;
}

.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}

.active .item {
  display: block;
}

.button.secondary {
  /* divider between buttons and menu links */
  border-bottom: 1px #444 solid;
}

/* Submenu up from mobile screens */
.submenu {
  display: none;
}

.submenu-active .submenu {
  display: flex;
    flex-flow: row;
    position: absolute;
    border-top-style: solid;
    background-color: turquoise;
}

.has-submenu i {
  font-size: 12px;
}

.has-submenu > a::after {
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "\f078";
  color: black;
  padding-left: 5px;
  
}

.subitem a {
  padding: 10px 15px;
}

.submenu-active {
  background-color:  turquoise;
  border-radius: 3px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Set a style for all buttons */
button {
  font-family:  Helvetica;
  font-size: 15px;
  margin-right: 30px;
  float: right;
  padding-left: 15px;
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  cursor: pointer;
  display: flex;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

a:link, a:visited {
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
 opacity: 0.8;
}


/* Tablet menu */
@media all and (max-width: 853px) {

  .menu {
    width: 100%;
   flex-direction: column;
    background-color: turquoise;
  }
  .logo {
      flex: 1;
      height: 150px;
  }
  .item.button {
      width: auto;
      order: 1;
      display: block;
  }
  .toggle {
      flex: 1;
      text-align: right;
      order: 2;
  }

  .submenu-active .submenu {
    display: block;
    width: 100%;
    flex-flow: row;
    position: inherit;
  }
}